:root {
  /* Base Colors */
  --color-white: #ffffff;
  --color-light: #f2f4f3;
  --text-colour: #202020;
  --sidebar-hover: #e1e4e3;
  --sidebar-bgfocus: #e6f4f1;
  --sidebar-txtfocus: #317b50;
}

*:not(dialog) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  min-height: 100vh;
  background-color: var(--color-white);
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: var(--color-light);
  padding: 12px 0;
  color: var(--text-colour);
}

.project-display {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project-card {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 8px;
  cursor: pointer;
}

.project-card:hover {
  background-color: var(--sidebar-hover);
}

.project-card h4 {
  font-size: 1rem;
  pointer-events: none;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.project-card.selected {
  justify-content: space-between;
  background-color: var(--sidebar-bgfocus);
  color: var(--sidebar-txtfocus);
}

.main-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 56px 0;
  gap: 16px;
}

.todo-display {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: clamp(800px, 50vw, 1200px);
}

.todo-header,
.todo-card {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 80px;
  gap: 8px;
  padding: 12px;
  border-radius: 4px;
}

.todo-header {
  background-color: var(--color-light);
  color: var(--text-colour);
}

.todo-card {
  background-color: var(--color-bg-main);
  border: 1px solid var(--color-border);
}

.todo-card p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-colour);
}

button {
  font-family: sans-serif;
}

button > img {
  pointer-events: none;
  user-select: none;
  color: var(--sidebar-txtfocus);
}

.delete-project {
  width: 20px;
  height: 20px;
  padding: 2px;
  color: var(--sidebar-txtfocus); 
  transition: transform 0.3s ease-out;
}

.delete-project:hover {
  transform: scale(1.3);
}

.delete-todo,
.edit-todo,
.delete-project {
  border: none;
  border-radius: 50%;
  background: none;
}

.delete-todo,
.edit-todo {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: var(--color-bg-main);
  border: 1px solid var(--color-border);
}

.delete-todo:hover,
.edit-todo:hover {
  background-color: var(--color-btn-hover);
}

.add-project {
  color: var(--text-colour);
  border: 1px solid var(--text-colour);
}

.add-project:hover {
  background-color: var(--sidebar-hover);
}

.add-todo {
  color: var(--color-medium);
  border: 1px solid var(--color-medium);
}

.add-todo:hover {
  color: var(--color-white);
  background-color: var(--color-light);
}

.add-project,
.add-todo {
  height: 36px;
  line-height: 36px;
  white-space: nowrap;
  background: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 16px;
}

#project-modal,
#todo-modal {
  border: 1px solid var(--color-highlight);
  border-radius: 5px;
  background-color: var(--color-light);
}

#project-modal {
  width: 320px;
  height: 200px;
}

#todo-modal {
  width: 320px;
  height: 600px;
}

#project-form,
#todo-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.modal-title {
  color: var(--color-text-light);
  font-size: 2rem;
  font-weight: 700;
  margin-top: 20px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="date"],
select,
textarea {
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  background-color: var(--color-medium);
  color: var(--color-text-light);
  padding: 4px 20px 0px;
  width: 100%;
  height: 40px;
}

textarea {
  resize: none;
  height: auto;
}

input:focus {
  outline: none;
}

label {
  color: var(--color-text-light);
  margin-left: 20px;
}

.modal-buttons {
  display: grid;
  grid-template-columns: 100px 100px;
  justify-content: end;
  gap: 5px;
}

.modal-buttons > button {
  padding: 4px 0;
  background-color: var(--color-white);
  border: none;
  border-radius: 5px;
  color: var(--color-light);
}
