:root {
  /* Base Colors */
  --color-white: #ffffff;
  --color-light: #f2f4f3;
  --color-dark-text: #202020;
  --color-muted-text: #666666;
  --color-hover: #e1e4e3;
  --color-bgfocus: #e6f4f1;
  --color-focus-text: #317b50;

  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

*:not(dialog) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: clamp(280px, 25%, 420px) 1fr;
  min-height: 100vh;
  background-color: var(--color-white);
  transition: grid-template-columns 0.5s ease;
}

.sidebar-closed {
  grid-template-columns: 0 1fr;
  transition: grid-template-columns 0.5s ease;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  background-color: var(--color-light);
  padding: 1rem 0 1rem 1rem;
  color: var(--color-dark-text);
  transform: translateX(0);
  visibility: visible;
  transition: transform 0.5s ease, visibility 0s 0.1s ease;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  font-family: sans-serif;
}

.closed {
  position: absolute;
  width: clamp(280px, 25%, 420px);
  height: 100vh;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform 0.5s ease, visibility 0.5s ease;
}

.closed .toggle-sidebar {
  visibility: visible;
  transform: translateX(150%);
  background-color: var(--color-white);
  transition: transform 0.4s 0.1s ease;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  padding: 0 1rem 0 5px;
}

.toggle-sidebar {
  background-color: var(--color-light);
  padding: 5px;
  border-radius: 5px;
}

.toggle-sidebar:hover {
  background-color: var(--color-hover);
}

.toggle-sidebar img {
  width: 25px;
  height: 25px;
  display: block;
}

.project-display {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.show-projects {
  color: var(--color-muted-text);
}

.project-list {
  display:flex;
  flex-direction: column;
}

.project-card {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  height: 35px;
  padding-left: 5px;
  border-radius: 5px 0 0 5px;
}

.project-card:hover {
  background-color: var(--color-hover);
}

.project-card.selected {
  background-color: var(--color-bgfocus);
  color: var(--color-focus-text);
}

.project-icon {
  width: 20px;
  height: 20px;
  transform: translateY(-1px);
}

.project-name {
  font-size: 1rem;
  pointer-events: none;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.add-project {
  color: var(--color-focus-text);
  margin-right: 1rem;
  border-radius: 5px;
  transition: transform 0.1s ease-out;
}

.add-project:active {
  transform: scale(0.9);
}

.main-display {
  grid-column: 2;
  display: flex;
  flex-direction: column;

  margin: 56px auto;
  padding: 0 100px;
  gap: 16px;
}

.task-display {
  display: flex;
  flex-direction: column;
  width: clamp(600px, 50vw, 900px);
}

.task-card {
  position: relative;
  display: flex;
  gap: 10px;
  border-radius: 4px;
  border-bottom: 1px solid var(--color-hover);
  padding: 10px 0;  
  max-width: 100%;
}

.text-wrapper p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  min-width: 0;
}

.completion-toggle {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  appearance: none;
  border: 1px solid #333;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.completion-toggle:active {
  transform: scale(120%);
  transition: translate 0.2s ease;
}

.completion-toggle:hover::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  height: 10px;
  width: 10px;
  background-color: var(--color-focus-text);
  border-radius: 50%;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  padding-top: 3px;
}

.tag-wrapper {
  display: flex;
  gap: 5px;
}

.description,
.due-date,
.priority {
  font-size: 0.9rem;
}

.description {
  color: var(--color-muted-text);
}

button > img {
  pointer-events: none;
  user-select: none;
}

.delete-project {
  width: 20px;
  height: 20px;
  padding: 2px;
  color: var(--color-focus-text); 
  transition: transform 0.3s ease-out;
}

.delete-project:hover {
  transform: scale(1.3);
}

.delete-task,
.edit-task,
.delete-project {
  border: none;
  border-radius: 50%;
  background: none;
}

.delete-task,
.edit-task {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: var(--color-bg-main);
  border: 1px solid var(--color-border);
}

.delete-task:hover,
.edit-task:hover {
  background-color: var(--color-hover);
}

.add-task {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-muted-text);
  align-self: start;
}

.add-task:hover {
  color: var(--color-focus-text);
}

#project-modal,
#task-modal {
  border: 1px solid var(--color-highlight);
  border-radius: 5px;
  background-color: var(--color-white);
}

#project-modal {
  width: 320px;
}

#task-modal {
  width: 320px;
  height: 600px;
}

#project-form,
#task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  justify-content: space-between;
}

.form-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-hover);
}

.modal-title {
  color: var(--color-muted-text);
  font-size: 1rem;
}

.add-task img,
.add-project img,
.close-modal img{
  width: 20px;
  height: 20px;
  display: block;
  transform: translateY(-1px);
}

.close-modal:hover {
  background-color: var(--color-hover);
  border-radius: 5px;
}

.form-input {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 10px 0;
}

input[type="text"],
input[type="date"],
select,
textarea {
  font-size: 0.9rem;
  border-radius: 5px;
  border: 1px solid var(--color-dark-text);
  color: var(--color-dark-text);
  padding: 6px 8px 3px;
  width: 100%;
  height: 30px;
}

textarea {
  resize: none;
  height: auto;
}

input:focus {
  outline: 1px solid var(--color-dark-text);
}

label {
  color: var(--color-dark-text);
  margin-bottom: 5px;
  font-weight: 700;
}

.modal-buttons {
  display: grid;
  grid-template-columns: 100px 100px;
  justify-content: end;
  gap: 5px;
  padding-top: 10px;
  border-top: 1px solid var(--color-hover);
}

.modal-buttons > button {
  font-size: 0.8rem;
  padding: 4px 0;
  background-color: var(--color-white);
  border: none;
  border-radius: 5px;
  color: var(--color-light);
}

button.submit {
  background-color: var(--color-focus-text);
  color: var(--color-white);
  opacity: 0.9;
}

button.cancel {
  background-color: var(--color-hover);
  color: var(--color-dark-text);
  opacity: 0.9;
}

button.submit:hover {
  opacity: 1;
}

button.cancel:hover {
  opacity: 1;
}

::backdrop {
  background-color: var(--color-dark-text);
  opacity: 0.5;
}

dialog:open {
  opacity: 1;
  transform: translateY(0%);
}

dialog {
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 0.5s ease-out,
    transform 0.5s ease-out,
    overlay 0.5s ease-out allow-discrete,
    display 0.5s ease-out allow-discrete;
}

@starting-style {
  dialog:open {
    opacity: 0;;
    transform: translateY(0%);
  }
}